html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
img {
  max-width: 100%;
}
body {
  background-color: #ff896b;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid #f3f3f3;
}
.top-nav a {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  font-size: 20px;
  color: #f3f3f3;
}
.headercontainer {
  display: flex;
  flex-direction: row;
  border: 1px solid #f3f3f3;
}
.navBar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
.navBar a {
  font-size: 20px;
  color: "#f3f3f3";
}
.logoIMG {
  width: 45%;
  height: auto;
}
form {
  width: 100%;
  padding: 5%;
}
#banner-box {
  background-color: "#f3f3f3";
  padding: 2%;
  background-image: url("/images/daniil-silantev-nBuiLbz_j4A-unsplash.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 1px 14px 9px 4px #212021;
}
.form-box {
  display: flex;
  flex-direction: column;
  padding: 1%;
  background-color: "#f3f3f3";
  border: 10px solid "#e8d4b4";
  width: 40%;
}
@media (max-width: 800px) {
  .form-box {
    padding: 2%;
    font-size: 2rem;
    line-height: 22px;
    width: 44%;
    border: 4px solid "#e8d4b4";
  }
}
@media (max-width: 500px) {
  .form-box {
    width: 50%;
    padding: 1%;
  }
}
.form-box .btn-submit {
  margin: 5% 15%;
  padding: 20px 100px;
  border-radius: 3px;
  width: 70%;
  font-size: 2rem;
  cursor: pointer;
  background-image: url("/images/marble-texture.png");
}
.form-box .btn-submit:hover {
  border: 2px solid "#e8d4b4";
}
@media (max-width: 800px) {
  .form-box .btn-submit {
    padding: 5px 30px;
    margin: 5% 10%;
    width: 80%;
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .form-box .btn-submit {
    padding: 4px 50px;
    width: 90%;
  }
}
@media (max-width: 1000px) {
  .form-box .btn-submit {
    width: 80%;
    padding: 3px 50px;
  }
}
.footer-section {
  display: flex;
  background-color: #FFFFFF;
  flex-direction: row;
}
.footer-section a {
  color: black;
  font-size: 3rem;
}
@media (max-width: 800px) {
  .footer-section a {
    font-size: 2rem;
  }
}
.footer-section a:hover {
  color: grey;
}
.footer-section nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2%;
}
@media (max-width: 800px) {
  .footer-section nav {
    width: 100%;
  }
}
.icons {
  width: 20%;
  margin: 0 0 0 auto;
  font-size: 3rem;
}
@media screen and (max-width: 800px) {
  .icons {
    width: 40%;
    font-size: 2rem;
  }
}
.icons ul {
  display: flex;
}
.explanation p {
  line-height: 49px;
  font-size: 3rem;
  font-family: "Raleway", georgia;
  padding: 10%;
  margin: 1%;
  background-color: rgba(43, 23, 15, 0.4);
  color: white;
}
@media (max-width: 800px) {
  .explanation p {
    line-height: 30px;
    font-size: 2.4rem;
    padding: 10%;
    margin: 1%;
  }
}
@media (max-width: 500px) {
  .explanation p {
    font-size: 2rem;
    line-height: 25px;
  }
}
.explanation {
  background-image: url("/images/tyler-nix-V3dHmb1MOXM-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
@media (max-width: 500px) {
  .explanation {
    width: 100%;
  }
}
.feature-box {
  background-color: #f3f3f3;
  display: flex;
}
.features {
  width: 55.55%;
  padding: 2%;
  margin: 1%;
  background-color: #f3f3f3;
  font-family: "Raleway", georgia;
  font-size: 3rem;
  line-height: 35px;
  text-align: left;
}
@media (max-width: 800px) {
  .features {
    font-size: 2rem;
    line-height: 20px;
    margin: 3%;
  }
}
@media (max-width: 500px) {
  .features {
    font-size: 1.8rem;
  }
}
.features h4 {
  font-weight: bold;
  font-size: 4rem;
  padding-bottom: 10px;
  text-align: center;
}
@media (max-width: 800px) {
  .features h4 {
    padding-bottom: 20px;
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .features h4 {
    font-size: 2.5rem;
  }
}
.easy {
  text-align: center;
  font-family: "Raleway", georgia;
  font-size: 5rem;
  padding: 1%;
  margin: 2%;
  width: 15%;
  border-radius: 2px;
  background-color: yellow;
  animation-name: easy_baby;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  position: relative;
  animation-fill-mode: forwards;
}
@media (max-width: 800px) {
  .easy {
    font-size: 3rem;
    padding: 1%;
    margin: 2%;
    width: 15%;
  }
}
@keyframes easy_baby {
  0% {
    transform: rotate(0deg);
    left: 0px;
  }
  25% {
    transform: rotate(20deg);
    left: 0px;
  }
  50% {
    transform: rotate(0deg);
    left: 500px;
  }
  @media (max-width: 800px) {
    50% {
      left: 200px;
    }
  }
  @media (max-width: 500px) {
    50% {
      left: 0px;
    }
  }
  75% {
    transform: rotate(0deg);
    left: 500px;
  }
  @media (max-width: 800px) {
    75% {
      left: 200px;
    }
  }
  @media (max-width: 500px) {
    75% {
      left: 100px;
    }
  }
  100% {
    transform: rotate(-360deg);
    left: 250px;
  }
  @media (max-width: 800px) {
    100% {
      left: 300px;
    }
  }
  @media (max-width: 500px) {
    100% {
      left: 800px;
    }
  }
}
.headercontainer {
  display: flex;
  flex-direction: row;
  border: 1px solid #f3f3f3;
}
.navBar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
.navBar a {
  font-size: 20px;
  color: #f3f3f3;
}
.logoIMG {
  width: 45%;
  height: auto;
}
.headShot {
  width: 50%;
}
.headShotContainer {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headShotContainer .teamMember {
  background-color: #e8d4b4;
  width: 80%;
  margin: 2%;
  padding: 5%;
  border-radius: 5%;
  border: 1px solid black;
  box-shadow: 5px 10px 18px #888888;
  display: flex;
}
@media (max-width: 800px) {
  .headShotContainer .teamMember {
    padding-top: 10%;
  }
}
.teamMember h4 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  width: 100%;
  font-family: "Permanent Marker", georgia;
}
@media (max-width: 800px) {
  .teamMember h4 {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .teamMember h4 {
    font-size: 13px;
  }
}
.teamMember .github {
  justify-content: flex-end;
  display: flex;
}
@media (max-width: 800px) {
  .teamMember .github {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .teamMember .github {
    width: 70%;
    height: 50%;
  }
}
.profile-name {
  font-size: 50px;
  height: auto;
  width: 100%;
  display: flex;
  font-family: "Permanent Marker", georgia;
}
@media (max-width: 800px) {
  .profile-name {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .profile-name {
    font-size: 20px;
    padding-right: 35px;
  }
}
.meet {
  margin: auto;
  width: 100%;
  height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("/images/markus-petritz--LFe6Prglw4-unsplash.jpg");
}
@media (max-width: 800px) {
  .meet {
    height: 40vh;
  }
}
.meet h1 {
  color: #ff896b;
  text-shadow: -2px 0 white, 0 1px white, 1px 0 black, 0 -1px black;
  font-size: 8rem;
  text-align: center;
  padding-top: 10rem;
}
@media (max-width: 800px) {
  .meet h1 {
    font-size: 7rem;
  }
}
@media (max-width: 500px) {
  .meet h1 {
    font-size: 6rem;
  }
}
