html {
  background-color: @primaryLight;
  margin-left: 10%;

  @media @tablet {
    .tablet-format;
  }
  @media @lgtablet {
    .lg-tablet-format;
  }
  @media @mobile {
    .media-format;
  }
}

.navBar {
  .even();
  font-size: 20px;
  a {
    .remove-nav-deco;
  }
}

.meet {
  .center();

  h1 {
    font-size: largest;
    border: 1px solid black;
    padding: 1rem;
    background: @secondaryDark;
    text-decoration: underline;
  }
}

.teamMember {
  .small-border();
  width: 40%;
  margin: 1% auto;
  align-content: center;
  justify-content: center;
  background-color: @primaryLight;
  padding: 1rem;
  display: flex;

  * {
    .remove-nav-deco;
  }

  img {
    height: 40vh;
    .small-border;
    justify-content: center;
  }

  h4 {
    font-size: largest;
    align-content: center;
  }
}
.headShotContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  width: 90%;
  background-color: @secondaryDark;
  .big-border();
}

nav {
  .even();
  flex-wrap: wrap;
  margin-right: 5%;
  * {
    .remove-nav-deco;
  }
}
