
.footer-section {
    display: flex;
    background-color: #FFFFFF;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
}

.footer-section a {
    color: black;
    font-size: 2rem;
    padding: 2%;
}

.footer-section a:hover {
    color: grey;
}

.footer-section nav {
    width: 100%;
    padding-top: 2%;
    @media screen and (max-width: 800px) {
        padding-top: 3%;
        font-size: 1rem;
    }
}

.icons {
    width: 20%;
    margin: 0 0 0 auto;
    font-size: 3rem;
    @media screen and (max-width: 800px) {
        width: 40%;
        font-size: 2rem;
    }
}

.icons ul {
    display: flex;
}